body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
}
#title{
  float: right;
  color: black;
}
#africa{
  height: 100px;
}
#secondname{
  color:rgb(247, 167, 18) ;
}
.container h1{
  font-family: Roboto;
  font-style: Bold;
  font-size: 80px;
  line-height: 94px;
  text-align: Left;
  vertical-align: Top;
  font-weight: bold;
  color: rgb(51, 48, 48);
  /* margin-top: 30px; */
}
.names img{
  height: 370px;
  margin-left: 800px;
  margin-top: -300px;
}

.form-group{
  width: 400px;
  box-shadow: black solid;
}
.footer{
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 200px;
}